/* import Helvetica Neue Light font */

@font-face {
	font-family: "HlvNeueLght";
	src: url("../fonts/helvneuelght/HelveticaNeue-Light.eot");
	src: url("../fonts/helvneuelght/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"),
	url("../fonts/helvneuelght/HelveticaNeue-Light.woff") format("woff"),
	url("../fonts/helvneuelght/HelveticaNeue-Light.ttf") format("truetype"),
	url("../fonts/helvneuelght/HelveticaNeue-Light.svg#JournalRegular") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* import Helvetica Neue Light font */

/* built-in */
._aptxtid1 { text-indent:15px; }
._aptxtid2 { text-indent:-5px; }
._apblack  { color: #000 !important; }
._apbld    { font-weight: bold; }
._apleft   { text-align: left; }
._aprght   { text-align: right; }
._apcntr   { text-align: center; }
._apfwdth80{ width: 80% !important;  }
._apfwdth, ._apfwdt  { width: 100% !important;  }
._apnopad  { padding:0px !important; }
._apnomrg  { margin:0px !important; }
._apblkbg  { background-color: #000; }
._apblwht  { background-color: #fff !important; }
._apvmrg25 { margin-top: 25px; margin-bottom:25px; }
._aptmrg30 { margin-top: 30px; }
._apbmrg10 { margin-bottom:10px; }
._apbmrg15 { margin-bottom:15px; }
._apvpad25 { padding-top: 25px; padding-bottom:25px; }
._apvpad15 { padding-top: 15px; padding-bottom:15px; }
._aptpad25 { padding-top: 25px; }
._aptpad15 { padding-top: 15px; }
._aptpad7 { padding-top: 7px; }
._apbpad10 { padding-bottom:10px; }
._aphpad10 { padding-left: 10px; padding-right:10px; }
._aphpad2 { padding-left: 2px; padding-right:2px; }
._apnolpad { padding-left:0px !important; }
._apnobrdr { border:none !important; }
._apwrap   { height:10px; }
._totopicon, ._totopicon:visited  {
	background-color:#777;
	border-radius: 8%;
	width:50px;
	border: 0px solid white;
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display:none;
	text-align:center;
	line-height:50px;
	color: #fff;
	font-size:18pt;
	text-decoration:none !important;
	opacity:0.5;
}
._apilblk { display: inline-block; }
._totopicon:hover { background-color:#999; }

/* built-in */

BODY { font-family: HlvNeueLght, sans-serif; font-size: 12pt; color: #555; }
.mk-tabs UL { border:none !important; }
.mk-tabs UL LI.mk-tabs-legend  { width:50%; font-family: HlvNeueLght, sans-serif;  font-weight:bold; }

.mk-tabs UL LI { background:url(../images/tabs/bot-shad.png) left bottom no-repeat #dcddde; }
.mk-tabs UL LI.active { background-color: #f8b4c3; background-image:none; }
.mk-tabs UL LI.active > A.mk-tab-left { color:#000 !important; background: none; }
.mk-tabs UL LI.active > A.mk-tab-right { color:#000 !important; background: none; }
.mk-tabs UL LI > A { border-radius: 0px; color: #aaa !important; }
.mk-tabs UL LI.active > A:hover { background-color: #f8b4c3; }
.mk-tabs UL LI > A:hover {  background-color: transparent; }

.mk-maptabs UL { border:none !important; }
.mk-maptabs UL LI {  background-color: #fff; }
.mk-maptabs UL LI.mk-tabs-legend  { width:calc(50% - 1px); font-family: HlvNeueLght, sans-serif; font-size:13pt; color: #555; }
.mk-maptabs UL LI.active A { color:#444 !important; }
.mk-maptabs UL LI.active A .mk-radio-descr:before {
	content: url('../images/tabs/act-radio.png');
	position: relative;
	/*top: calc( 50% - 10px );
	left: calc( 50% - 40px );*/
	top: 2px;
	left:-10px;
}

.mk-maptabs UL LI A .mk-radio-descr:before {
	content: url('../images/tabs/pass-radio.png');
	position: relative;
	/*top: calc( 50% - 10px );
	left: calc( 50% - 40px );*/
	top: 2px;
	left:-10px;
}

.mk-maptabs UL LI A { border-radius: 0px; color: #aaa !important; }
.mk-maptabs UL LI A:hover { background-color:#fff; !important;}

.mk-tab-brdr { border-bottom:2px solid #ccc; }
.mk-tab-lbrbr { border-left:none !important; border-top:none !important; border-bottom:none !important; border-right:none !important;}
.mk-ltab-bg { background-color: #f8b4c3; }
.mk-rtab-bg { background-color: #f8b4c3; }
.mk-inpt { -webkit-appearance: none; -webkit-border-radius: 0px;  border:none; margin-bottom: 15px; color:#111; background-color:#fff; font-size:10pt; }
.mk-btn { -webkit-border-radius: 0px; border:none; margin-bottom: 15px; color:#fff; background-color: #e74783; }
.mk-btn:hover { background-color: #fe4783; }
.mk-map { height:400px; }
.mk-ava {border-radius:50%; }
.mk-dist { color: #b25d64;}
.mk-descr A { color: #aaa !important; font-size:9pt; }
.mk-descr A:hover { color: #b25d64 !important; }
.mk-shop-btn, .mk-shop-btn:active, .mk-shop-btn:visited { display: inline-block; color:#fff; line-height:40px; background-color: #e74783;  font-weight:bold; text-decoration: none;}
.mk-shop-btn:hover { background-color: #fe4783; text-decoration: none; color:#fff;   }
.mk-list-delim { height:20px; background:url(../images/tab-bg-n2.png) left top repeat !important; border-top:2px solid #ddd !important; border-left:none !important; border-bottom:2px solid #ccc !important; border-right:none !important;}
.mk-map-delim { padding-top:10px; padding-bottom:10px; background:url(../images/tab-bg-n2.png) left top repeat !important; border-top:2px solid #ddd !important; border-left:none !important; border-bottom:2px solid #ccc !important; border-right:none !important;}
.mk-tab-plusmin { color: #777; cursor: pointer; font-size:10pt; margin-left:10px;  }
.mk-card-bt-nav-icon { display: inline-block; }
.mk-card-bt-nav-btn { display: inline-block; }
.mk-ico-text { color: #e74783; line-height: 15px; padding-top:10px; margin-left: 22px; }
.mk-ico-text-add { margin-left: 30px; }
.mk-descritem-1:after { 
	content: url('../images/list/icon2.png');
	position: absolute;
	top: calc( 50% - 13px );
	left: calc( 50% - 58px );
}
.mk-descritem-2:after { 
	content: url('../images/list/icon3.png');
	position: absolute;
	top: calc( 50% - 13px );
	left: calc( 50% - 60px );
}
.mk-descritem-3:after { 
	content: url('../images/list/icon1.png');
	position: absolute;
	top: calc( 50% - 13px );
	left: calc( 50% - 60px );
}
.mk-card-lnk { margin-right:15px; }
.mk-card-bt-nav-icon-2 img { width:40px; position:relative; top:-3px; }
.mk-fitem-bg { background:url(../images/list/top-listitem-bg.png) left top no-repeat !important; }
.mk-name { margin-bottom:20px; color:#000; }
.mk-close-icon,  .mk-close-icon:hover {
	position:absolute;
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
	outline: 0;
	cursor: pointer;
	right: 15px;
	text-decoration:none;
}
.mk-close-icon:after {
	content: "\2716";
	display: block;
	width: 15px;
	height: 30px;
	z-index:1;
	bottom: 0;
	margin: auto;
	text-align: center;
	color: #aaa;
	font-weight: normal;
	font-size: 15px;
	cursor: pointer;
}
.mk-btn-icon {
	background:url(../images/filters/icn1.svg) center top no-repeat !important;
	height:30px;
	color:transparent;
}

.mk-filter-collapse, .mk-filter-collapse:visited  {
	color: #e74783 !important;
	text-decoration:none;
	font-weight:bold;
}

.mk-filter-collapse-icon {
	display:inline-block;
	position:relative;
	background:url(../images/filters/icn2.svg) center top no-repeat !important;
	height:14pt;
	width:14pt;
	margin-left:15px;
	margin-right:15px;
	top:0px;
	transform: rotate(180deg);
}

.mk-filter-uncollapse-icon {
	transform: rotate(0deg);
	top:7px;
}

@media(min-width:200px){
	.mk-close-icon { top: 3px; }
	._apbmrg20-xs { margin-bottom:20px; }
	BODY.mk-regular { margin-top:52px; }
	._aplmrg15-no-xs { margin-left: 0px; }
	.mk-name { font-size:12pt; }
	.mk-descr { font-size:9pt; }
	.mk-inpt, .mk-btn { height:30px; padding-left:10px; }
	.mk-legend-txt, .mk-submap-act { font-size:10pt; }
	.mk-ico-text { font-size:6.5pt !important; }
	.mk-submap-act IMG { height: 12px; }
	.mk-card-bt-nav-extraxs { display:block; }
	.mk-legend-txt, .mk-submap-act { font-size:10pt; color:#000 !important; }
	.mk-shop-btn { padding:0 10px; }
	.mk-card-bt-nav-btn { display:none; font-size: 10pt; width: 100%; }
	.mk-tabs UL LI.mk-tabs-legend-right:after { left: calc(100% - 19px); }
	.mk-tabs UL LI.mk-tabs-legend-left:after { left: calc(100% - 20px); }
	.mk-tabs UL LI.active:before {
	    display:inline-block !important;
		position: absolute;
		top: -8px;
		left: 1px;
		z-index: -1;
		width: calc(100% - 19px);
		background:url(../images/tabs/passive_mobile_shadow.png) left top no-repeat !important;
		content:'-';
		color:transparent;
		/*opacity:.7*/
	}
	.mk-tabs UL LI:after {
		/* content: url('../images/tabs/passive_2a.png'); */
		content: url('../images/tabs/passive_3.png');
		position: absolute;
		top: 0px;
		z-index:10;
	}
	.mk-tabs UL LI.mk-tabs-legend-right.active:after {
		content: url('../images/tabs/active_2a_2.png');
		position: absolute;
		top: -9px;
		left: calc(100% - 19px);
		z-index:10;
	}
	.mk-tabs UL LI.mk-tabs-legend-left.active:after {
		content: url('../images/tabs/active2a_3.png');
		position: absolute;
		top: -9px;
		left: calc(100% - 20px);
		z-index:10;
	}
	.mk-tabs UL LI > A { height:39px !important; }
	.mk-filter-collapse { font-size:12pt; }
	.mk-card-btn { line-height:60px; }
}

@media(min-width:360px){
	.mk-ico-text { font-size:9pt !important; }
	.mk-legend-txt { font-size:10pt; }
}

@media(min-width:376px){
	BODY { background-color: white !important;}
	.mk-filter-collapse { font-size:14pt; }
}

@media(min-width:460px){
	.mk-submap-act IMG { height: 16px; }
	.mk-submap-act { font-size:8pt; }
}

@media(min-width:580px){
	.mk-submap-act IMG { height: auto; }
	.mk-card-bt-nav-btn { display: inline-block; font-size: 10pt; width: auto; margin-left:10px; }
	.mk-legend-txt, .mk-submap-act { font-size:10pt; }
	.mk-card-bt-nav-btn { font-size: 10pt; }
}

@media(min-width:768px){
	.mk-close-icon { top: 8px; }
	._apbmrg20-xs { margin-bottom:0px; }
	BODY.mk-regular { margin-top:0px; }
	._aplmrg15-no-xs { margin-left: 15px; }
	.mk-name { font-size:14pt; }
	.mk-descr { font-size:10pt; }
	.mk-desk-item {
		border: 1px solid #ddd;
		box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
		margin: 10px; 
		padding:15px;
		background-color:#fff;
	}
	.mk-desk-item-hover:hover { background-color:#f8b5c4; }
	.mk-inpt, .mk-btn { height:40px; }
	.mk-legend-txt, .mk-submap-act { font-size:12pt; }
	.mk-card-bt-nav-btn { font-size: 12pt; }
	.mk-tabs UL LI.mk-tabs-legend-right:after { left: calc(100% - 33px);}
	.mk-tabs UL LI.mk-tabs-legend-left:after { left: calc(100% - 33px); }
	.mk-tabs UL LI.active:before {
	    display:inline;
		position: absolute;
		top: -17px;
		z-index:-1;
		left: -20;
		content: url('../images/tabs/desk/passive_desk_shadow2_tablet_big.png');
		background:none;
		opacity:1 !important;
	}
	.mk-tabs UL LI:after {
		position: absolute;
		top: -16px;
		z-index:10;
		/* content: url('../images/tabs/desk/42px/passive_desk.png'); */
		content: url('../images/tabs/desk/42px/passive_desk_wo_shadow.png');
	}
	.mk-tabs UL LI.mk-tabs-legend-right.active:after {
		position: absolute;
		top: -17px;
		left: calc(100% - 33px);
		z-index:10;
		content: url('../images/tabs/desk/42px/active_desk.png');
	}
	.mk-tabs UL LI.mk-tabs-legend-left.active:after {
		position: absolute;
		top: -17px;
		left: calc(100% - 33px);
		z-index:10;
		content: url('../images/tabs/desk/42px/active_desk2.png');
	}
	.mk-tabs UL LI.active:before, .mk-tabs UL LI.active:before {
		content: url('../images/tabs/desk/passive_desk_shadow_tablet_small.png') !important;
	}
	.mk-tabs UL LI > A { height:42px !important; line-height:42px !important; padding:0 15px !important; font-size: 15pt; }
	.mk-card-btn { line-height:40px; }
}
@media(min-width:992px){
	.mk-descr { font-size:11pt; }
	/* .mk-tabs UL LI:before { content: url('../images/tabs/desk/passive_desk_shadow2_tablet_big.png'); } */
	.mk-tabs UL LI.active:before, .mk-tabs UL LI.active:before { content: url('../images/tabs/desk/passive_desk_shadow_tablet_big.png') !important; }
}
@media(min-width:1200px){
	/* .mk-tabs UL LI:before { content: url('../images/tabs/desk/passive_desk_shadow2.png'); } */
	.mk-tabs UL LI.active:before, .mk-tabs UL LI.active:before { content: url('../images/tabs/desk/passive_desk_shadow.png') !important; }
}

.navbar-toggle.collapsed .dm-sw-icon IMG {
	background: url('../images/sandwich.png') 50% 50% no-repeat;
}

.navbar-toggle .dm-sw-icon IMG {
	background: url('../images/close.png') 50% 50% no-repeat;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent !important;
}

select {
	background: url('../images/arrow.svg') no-repeat right #FEFEFE;
	background-position: 100% 50%;
	background-repeat: no-repeat;
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari */
}

A.mk-readmore, A.mk-readmore:visited { display:inline-block; margin:15px 0px; font-size:11pt; color: #888 !important; text-decoration: underline; }
A.mk-readmore:hover { color: #000 !important; }
.mk-card-btn, .mk-card-btn:active, .mk-card-btn:visited, .mk-card-btn:focus {
	font-family: HlvNeueLght, sans-serif !important;
	font-size:12px;
	display: inline-block;
	color:#fff;
	background-color: #e74783; 
	font-weight:bold;
	text-decoration: none;
	border-radius:40px;
	box-shadow: 3px 2px 12px rgba(231, 71, 131,0.3);
}
.mk-card-btn:hover { background-color: #fe4783; text-decoration: none; color:#fff; }
.mk-personal-data, .mk-phone {
	/*background-image: url(../images/personal-data.svg);
	background-repeat: no-repeat;
	background-position: calc(50% - 85px) center;
	background-size:60px 60px;*/
	display:block;
}
/*.mk-personal-data:before {
	display:block;
	position:absolute;
	top:5px;
	left:inherit;
	margin-left:-20px;
	background-image: url(../images/personal-data.svg);
	background-repeat: no-repeat;
	background-size:60px 60px;
	width:60px;
	height:60px;
	content:"";
}*/
.mk-personal-data {
	display:block;
	position:relative; 
}
.mk-personal-data > DIV:after {
	display:block;
	position:absolute;
	top:calc(50% - 32px);
	left:calc( 100% + 5px );
	background-image: url(../images/strelka-wht.svg);
	background-repeat: no-repeat;
	background-size:15px 15px;
	background-position:center center;
	width:20px;
	height:65px;
	content:"";
}
.mk-phone:before {
	display:block;
	position:absolute;
	top:calc(50% - 22px);
	left:inherit;
	margin-left:-30px;
	width:60px;
	height:60px;
	background-image: url(../images/phone_black.svg);
	background-repeat: no-repeat;
	background-size:60px 60px;
	content:"";
}

.tooltip { width: calc(100% - 20px) !important; left:10px !important; !important; }
.tooltip-inner { font-family: HlvNeueLght, sans-serif; font-size: 12pt; display: block; color:#fff; line-height:40px; background-color: #ddd; color: #111; border-radius: 0px; max-width: 100% !important; }
.tooltip-arrow { border-top-color: #ddd !important; }

.collapsing {
	transition: height 0.01s;
}
